html 
    head 
      title= "Current inventory table" 

    body 
      h2 Here is your current inventory:
        table(style='width:100%', border='1')
            tr
                th(class='inventory-table-head') Item Name:
                th(class='inventory-table-head') Img-description:
                th(class='inventory-table-head') Current Quantiry:
                th(class='inventory-table-head') Sub-teams:
                th(class='inventory-table-head') Region: 
                th(class='inventory-table-head') Warehouse location:
                th(class='inventory-table-head') Notes: 

